<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%- listTitle %> </h1>
</div>

<div class="box">
    <p>This is a to do list with version 1.0</p>
</div>


<%- include('footer'); -%>